node_modules
android/app/build/
ios/Pods/
ios/build/
android/.gradle/
android/build/
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcworkspace/
ios/*.xcuserdatad/
.env
.env.local
.env.*.local

.idea/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/android/app/build/
/android/build/
/android/.gradle/
/ios/build/
/ios/Pods/
/node_modules/
/temp/
/build/
/coverage/

.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

/index.android.bundle
/index.android.bundle.meta
/index.ios.bundle
/index.ios.bundle.meta








